{% extends 'admin.base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <h1>Edit Post</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_post_index') }}">back to list</a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
