{% extends 'admin.base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <h1>Create new Post</h1>

    {{ include('admin/_form.html.twig') }}

    <a href="{{ path('admin_post_index') }}">back to list</a>
{% endblock %}
