{% extends 'admin.base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content|nl2br }}</td>
            </tr>
            <tr>
                <th>Created at</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_post_index') }}">back to list</a>

    <a href="{{ path('admin_post_edit', {'id': post.id}) }}">edit</a>

    {{ include('admin/_delete_form.html.twig') }}
{% endblock %}
