{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Posts</h1>
        {% for post in posts %}
            <article class="blog-post">
                <h2><a href="{{ path('post_show', {'id': post.id}) }}">{{ post.title }}</a></h2>
                <p class="blog-post-meta">{{ post.createdAt|date('Y-m-d H:i:s') }}</p>
                <p>{{ post.content|u.truncate(150, '...', false)|nl2br }}</p>
            </article>
        {% else %}
            <div>
                no records found
            </div>
        {% endfor %}
{% endblock %}
