{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<div class="row">
    <article class="blog-post">
        <h1 class="blog-post-title">{{ post.title }}</h1>
        <p class="blog-post-meta">{{ post.createdAt|date('Y-m-d H:i:s') }}</p>
        <p>{{ post.content|nl2br }}</p>
    </article>
    <a href="{{ path('post_index') }}">back to list</a>
</div>
{% endblock %}
